
@media only screen and (max-width:688px){
    nav ul li{
        margin: 30px 0;
    }
}
@media only screen and (max-width:940px) {
        nav ul{
            position: fixed;
            top: 80px;
            left: -100%;
            background-color: #17202A;
            height: 100vh;
            width: 100%;
            padding-top: 20px;
            flex-direction: column;
            text-align: center;
            font-size: 22px;
            transition: all 0.5s ease;
            
        }
        nav ul li{
            margin: 50px 0;
        }
        nav ul li a:hover, nav ul li a.active{
            background: none;
            color: red;
        }
        .menu_btn{
            display: block;
        }
        #check:checked ~ ul{
            left: 0%;
        }
        #check:checked ~ .menu_btn i::before{
            content: "\f00d";
        }

}
/* service section media query code started here */
@media only screen and (max-width:688px) {
    .services_parent{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        width: 95%;
    }

    /* smart aria code started here */
    .smart_secontion_container{
        padding-bottom: 20px;
    }
    .smart_parent{
        display: block;
        width: 95%;
    }
    .smart-text{
        margin-top: 40px;
    }
    .smart_image img{
        width: 100%;
    }
    .smart-title h2{
        padding: 10px 0;
    }

    /* third section code started here */

    #about_parent{
        margin-left: 30px;
        margin-right: 30px;
        padding: 50px 0px;
        display: block;
    }
    .about-card-parent{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
    }
    /* fourth section code started here */

    #advice-parent{
        display: block;
        width: 95%;
        margin: auto;
    }
    .single-advice{
        margin: 30px auto;
    }
    .advice-image-box img{
        width: 95%;
        margin: auto;
    }
    #fourth-section{
        padding: 60px 0;
    }

    /* contact section code started */

    form{
        max-width: 90%;
        margin: 0 auto;
        padding: 20px 30px;
    }

    
/* sixth section code started here */

#sixth-section{
    padding: 60px 0;
}
.match-parent{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 45px;
    margin-left: 20px;
    margin-right: 20px;

}
}

@media only screen and (min-width:689px) and (max-width:1099px) {
    .services_parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        width: 90%;
}

/* smart aria code started here */
    .smart_secontion_container{
        padding-bottom: 30px;
    }
    .smart_parent{
        display: block;
        width: 90%;
    }
    .smart-text{
        margin-top: 40px;
    }
    .smart_image img{
        width: 100%;
    }
    .smart-title h2{
        padding: 30px 0 -30px;
    }

    /* third section code started here */

    #about_parent{
        margin-left: 70px;
        margin-right: 70px;
        padding: 80px 0px;
        display: block;
    }
    .about-card-parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    /* fourth section code started here */

    #advice-parent{
        display: flex;
        width: 85%;
        margin: auto;
    }
    .single-advice{
        margin: 30px auto;
    }
    .advice-image-box img{
        width: 95%;
        margin: auto;
    }
    #fourth-section{
        padding: 80px 0;
    }

    form{
        max-width: 70%;
        margin: 0 auto;
        padding: 30px 50px;
    }

    /* sixth section code started here */

#sixth-section{
    padding: 80px 0;
}
.match-parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
    margin-left: 80px;
    margin-right: 80px;

}
       
}