
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
      font-family: Montserrat;
}
nav{
    background-color: #A36646;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0px 50px 0 80px;
    align-items: center;
}
.navlogo{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
nav ul {
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 8px;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 7px 13px;
    transition: 0.5s;
    text-transform: uppercase;
}
nav ul li a:hover,  nav ul li a.active{
    background-color: gray;
    
    border-radius: 5px;
}
#check{
    display: none;
}
.menu_btn{
    font-size: 30px;
    color: white;
    display: none;
}

/* header section code start */

header{
    background-image: url('images/yuliia-dementsova-XLMoK8qYBHU-unsplash\ \(1\).jpg');
    height: 91vh; 
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

/* service section code started here */
#service_section_container{
    background-color: #9c3838;
    padding: 50px 0 100px 0;
}
#service_section_container > h2{
    text-align: center;
    padding: 50px 0;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 28px;
    text-transform: u;
}
.services_parent{
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;

}
.single-service-div{
    background-color: white;
    text-align: center;
    padding: 30px 20px;
    border-radius: 5px;
    border: 3px solid green;
    box-shadow: 5px 5px 10px gray;
}
.single-service-div i{
    font-size: 40px;
}
.single-service-div h2{
    margin: 10px 0;
    font-weight: bold;
}

/* smart aria code started here */
.smart_secontion_container{
    background-color:#5D283C;
    padding-bottom: 70px;
}
.smart_parent{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.smart-text > h4{
    text-transform: uppercase;
    margin: 15px 0 15px ;
}
.smart-text > h2{
    font-weight: bold;
    margin: 25px 0;
    font-size: 30px;
}
.smart-text p{
    font-size: 18px;
    font-weight: 400;
}
.smart-text a{
    text-decoration: none;
    background-color:aqua;
    padding: 13px 30px;
    border-radius: 8px;
    font-size: 18px;
    display: inline-block;
    margin: 30px 0;
    font-weight: bold;
}
.smart-text a:hover{
    background-color: rgb(6, 204, 204);
    color: black;
}
.smart-title h2{
    text-align: center;
    color: rgb(16, 129, 182);
    font-size: 35px;
    padding: 55px 0 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/* third section code started here */

#third_section{
    background-image:linear-gradient(rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.137)), url('images/ambrelas.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#about_parent{
    margin-left: 200px;
    margin-right: 200px;
    padding: 150px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-text-item h3{
    font-size: 30px;
    color: #041046;
    font-weight: bold;
    
}
.about-text-item > p{
    margin: 15px 0;
    color: black;
    font-weight: 500;
}
.about-text-item ul li{
    list-style-position: inside;
    font-weight: 600;
}
.about-text-item a{
    background-color: aquamarine;
    color: black;
    padding: 13px 30px;
    border-radius: 5px;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0;

}
.about-card-parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    text-align: center;
}
.about-single-card{
    background-color: white;
    padding:30px 10px;
    border-radius:5px;
}
.about-single-card h3{
    margin-bottom: 15px;
    font-size: 21px;
}
/* fourth section code started here */

#fourth-section{
    background-image:linear-gradient(rgba(255, 255, 255, 0.212), rgba(255, 255, 255, 0.048)), url('images/third-section.jpg');
    padding: 100px 0;
    color: white;
}
#advice-parent{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.advice-image-box img{
    width: 300px;
}
.single-advice p{
    margin: 20px 0;
    line-height: 1.5;
    text-align: justify;
}
.advice-image-box{
    
}
.single-advice h4{
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}
.advice-icon{
    
    display: flex;
    justify-content: space-around;

}
.advice-icon a{
    color:black;
    background-color: white;
    padding: 10px 25px;
    border-radius: 40px;
    transition: 0.5s;
    font-weight: bold;
}
.advice-icon a:hover{
    background-color: rgb(202, 184, 160);
}
.single-advice h3{
    margin-bottom: 10px ;
    font-size: 25px;
    border-bottom: 2px solid rgb(25, 190, 219);
    padding-bottom: 20px;
}
.single-advice a{
    background-color: white;
    padding: 8px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* contact section code start */
#contact-section{
    background-image:linear-gradient(#37255c75, rgba(44, 6, 56, 0.233)), url('images/pexels-padrinan-255379.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}
form{
    background-color: #2e357a;
    max-width: 50%;
    margin: 0 auto;
    padding: 50px 60px;
    border: 6px solid #4497d3;
    border-radius: 10px;
    color: white;
}
form h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.1em;
}
form p{
    text-align: center;
    margin: 30px auto;
    letter-spacing: 0.1em;
}
form .inputtextmail{
    display: block;
    width: 100%;
    border: none;
    height: 40px;
    margin: 50px 0;
    background: none;
    outline: none;
    text-transform: capitalize;
    color: white;
    border-bottom: 3px solid #4497d3;
    font-size: 18px;
}
form input::placeholder{
    color: #4497d3;
    font-weight: bold;
}
.submit-btn{
    display: block;
    margin: 0 auto;
    padding: 5px 40px;
    font-size: 20px;
    background: none;
    color: white;
    outline-style: ridge;
    cursor: pointer;
    transition: 0.4s;
}
.submit-btn:hover{
    background-color: #1d146b;
}

/* sixth section code started here */
#sixth-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.068)), url(images/fish.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 100px 0;
}
.match-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin-left: 200px;
    margin-right: 200px;

}
.single-match{
    padding: 20px;
    border: 4px solid #041046;
}
.single-match i{
    padding: 0px 20px 10px 20px;
    font-size: 40px;

}
.single-match h5{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.single-match p{
    font-size: 15px;
    color: rgb(181, 180, 184);
}
.single-match:nth-child(2){
    border-color: white;
}
.firat-single-match{
    line-height: 1.5;
    letter-spacing: 0.1em;
}